* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.container {
  height: 732px;
  font-family: Arial;
}

div.container header {
  height: 42px;
}

a {
  text-decoration: none;
  padding: 5px;
  color: Dimgray;
  font-size: 12px;
}

div.container header div.nav {
  display: block;
  height: 40px;
}


div.container header div.nav .nav-links {
  text-align: right;
  padding: 10px;
}

div.container main{
  width: 50%;
  height: 380px;
  margin: 0 auto;
}

div.container main div.logo {
  position: relative;
  margin-top: 135px;
  text-align: center;
}

div.container main div.search {
  text-align: center;
}

div.search div.search-field {
  margin-top: 20px;
}

div.search-field input {
  font-size: 18px;
  width: 520px;
  height: 40px;
}

main div.search div.buttons {
  margin-top: 25px;
}

div.buttons .btn {
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  background-color: #eee;
  color: #757575;
  border-color: #eee;
  border-style: none;
}

div.buttons .search-button {
  width: 118px;
}

div.buttons .lucky-button {
  width: 134px;
}

main div.search div.simple-text {
  text-align: center;
  margin-top: 15px;
}

span {
  font-size: 12px;
}

 a.language {
   color: blue;
 }

 div.container footer {
   position: relative;
   top: 130px;
   height: 42px;
 }

div.container footer div.footer {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left:0;
  background-color: #eee;
}

div.footer .links-left {
  float: left;
  margin-left: 20px;
  padding: 10px 0;
}

div.footer .links-right {
  float: right;
  margin-right: 20px;
  padding: 10px 0;
}

.links-left, .links-right {
  padding: 10px 0;
}
