.google {
  height: 100%;
}
a {
  text-decoration: none;
  padding: 5px;
}
.nav {
  display: block;
}
.nav-links {
  text-align: right;
  padding: 10px;
  align-items: center;
}
.logo {
  position: relative;
  margin-top: 15%;
  text-align: center;
}
.search {
  text-align: center;
  margin-top: 20px;
}
.search-button,
.lucky-button {
  font-size: 13px;
  background-color: #E8E8E8;
  color: Dimgray;
  height: 30px;
}
.search-field{
  margin-top: 20px;
}
.search-field input {
  font-size: 18px;
  width: 500px;
  height: 30px;
}
.buttons {
  margin-top: 20px;
}
.simple-text {
  text-align: center;
  margin-top: 15px;
}
.footer{
  position: fixed;
  bottom: 10px;
}
.footer-links {
  position: relative;
  display: block;
  bottom: 10px;
}
.links-left {
  float: left;
  margin-left: 15px;
  margin-right: 500px;
}
.links-right {
  float: right;
  margin-right: 10px;
  margin-left: 500px;
}
